# Deleting Data from a Delta Table

In [1]:
from pyspark.sql import *
from pyspark.sql.functions import *
from pyspark.sql.types import *
from IPython.display import display, display_pretty, clear_output, JSON

from delta import *

# 공통 데이터 위치
home_jovyan = "/home/jovyan"
work_data = f"{home_jovyan}/work/data"
work_dir=!pwd
work_dir = work_dir[0]
warehouse_dir = f"{work_dir}/spark-warehouse"

# Create spark session with hive enabled
builder = (
    SparkSession
    .builder
    .appName("pyspark-notebook")
    .config("spark.sql.session.timeZone", "Asia/Seoul")
    .config("spark.sql.extensions", "io.delta.sql.DeltaSparkSessionExtension")
    .config("spark.sql.catalog.spark_catalog", "org.apache.spark.sql.delta.catalog.DeltaCatalog")
    .config("spark.sql.catalogImplementation", "hive")
    .config("spark.sql.warehouse.dir", warehouse_dir)
    .enableHiveSupport()
)

In [2]:
# 델타 레이크 생성시에 반드시 `configure_spark_with_delta_pip` 구성을 통해 실행되어야 정상적인 델타 의존성이 로딩됩니다
spark = configure_spark_with_delta_pip(builder).getOrCreate()

In [3]:

# 노트북에서 테이블 형태로 데이터 프레임 출력을 위한 설정을 합니다
spark.conf.set("spark.sql.repl.eagerEval.enabled", True) # display enabled
spark.conf.set("spark.sql.repl.eagerEval.truncate", 100) # display output columns size

# 로컬 환경 최적화
spark.conf.set("spark.sql.shuffle.partitions", 5) # the number of partitions to use when shuffling data for joins or aggregations.
spark.conf.set("spark.sql.streaming.forceDeleteTempCheckpointLocation", "true")
spark

In [4]:
def sql(queries, num_rows = 20):
    for query in queries.split(";"):
        spark.sql(query).show(num_rows, truncate=False)

def ls(command):
    !ls -al {command}

def cat(filename):
    !cat {filename}

def grep(keyword, filename):
    !grep -i {keyword} {filename}

def grep_and_json(keyword, filename):
    !grep {keyword} {filename} | python -m json.tool

def grep_sed_json(keyword, lineno, filename):
    !grep {keyword} {filename} | sed -n {lineno}p | python -m json.tool

In [5]:
sql("show databases ; use taxidb ; show tables")

+---------+
|namespace|
+---------+
|default  |
|taxidb   |
+---------+

++
||
++
++

+---------+------------------+-----------+
|namespace|tableName         |isTemporary|
+---------+------------------+-----------+
|taxidb   |greentaxis        |false      |
|taxidb   |yellowtaxis       |false      |
|taxidb   |yellowtaxis_append|false      |
+---------+------------------+-----------+

In [6]:
sql("select count(1) from greentaxis")

+--------+
|count(1)|
+--------+
|450625  |
+--------+

In [9]:
ls("/home/jovyan/work/spark-warehouse/taxidb.db/greentaxis/_delta_log/*.json")

-rwxrwxrwx 1 jovyan 1000  2346 Aug 28 05:07 /home/jovyan/work/spark-warehouse/taxidb.db/greentaxis/_delta_log/00000000000000000000.json
-rwxrwxrwx 1 jovyan 1000 15695 Aug 28 05:08 /home/jovyan/work/spark-warehouse/taxidb.db/greentaxis/_delta_log/00000000000000000001.json
-rwxrwxrwx 1 jovyan 1000  4163 Aug 28 07:47 /home/jovyan/work/spark-warehouse/taxidb.db/greentaxis/_delta_log/00000000000000000002.json

In [12]:
sql("describe history greentaxis ; describe greentaxis", 30)

+-------+-----------------------+------+--------+---------------------------------+------------------------------------------------------------------------------------------------------------------------+----+--------+---------+-----------+--------------+-------------+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+------------+-----------------------------------+
|version|timestamp              |userId|userName|operation                        |operationParameters                                                                                                     |job |notebook|clusterId|readVersion|isolationLevel|isBlindAppend|operationMetrics                                                                                                                                                                    |userMetadata|engineInfo                         |
+-------+-----------------------+------+--------+---------------------------------+------------------------------------------------------------------------------------------------------------------------+----+--------+---------+-----------+--------------+-------------+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+------------+-----------------------------------+
|2      |2024-08-28 16:47:08.534|null  |null    |DELETE                           |{predicate -> ["((spark_catalog.taxidb.greentaxis.vendorid = 1) AND (spark_catalog.taxidb.greentaxis.ratecodeid = 6))"]}|null|null    |null     |1          |Serializable  |false        |{numRemovedFiles -> 2, numCopiedRows -> 92531, numAddedChangeFiles -> 0, executionTimeMs -> 1604, numDeletedRows -> 2, scanTimeMs -> 433, numAddedFiles -> 2, rewriteTimeMs -> 1171}|null        |Apache-Spark/3.2.1 Delta-Lake/2.0.0|
|1      |2024-08-28 14:08:52.189|null  |null    |CREATE OR REPLACE TABLE AS SELECT|{isManaged -> true, description -> null, partitionBy -> [], properties -> {}}                                           |null|null    |null     |0          |Serializable  |false        |{numFiles -> 10, numOutputRows -> 450627, numOutputBytes -> 9229678}                                                                                                                |null        |Apache-Spark/3.2.1 Delta-Lake/2.0.0|
|0      |2024-08-28 14:07:33.917|null  |null    |CREATE TABLE                     |{isManaged -> true, description -> null, partitionBy -> [], properties -> {}}                                           |null|null    |null     |null       |Serializable  |true         |{}                                                                                                                                                                                  |null        |Apache-Spark/3.2.1 Delta-Lake/2.0.0|
+-------+-----------------------+------+--------+---------------------------------+------------------------------------------------------------------------------------------------------------------------+----+--------+---------+-----------+--------------+-------------+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+------------+-----------------------------------+

+---------------------+---------+---------------+
|col_name             |data_type|comment        |
+---------------------+---------+---------------+
|VendorId             |int      |Ride Vendor    |
|lpep_pickup_datetime |string   |               |
|lpep_dropoff_datetime|string   |               |
|store_and_fwd_flag   |string   |               |
|RatecodeID           |int      |Ref to RateCard|
|PULocationID         |int      |               |
|DOLocationID         |int      |               |
|passenger_count      |int      |               |
|trip_distance        |double   |               |
|fare_amount          |double   |               |
|extra                |double   |               |
|mta_tax              |double   |               |
|tip_amount           |double   |               |
|tolls_amount         |double   |               |
|ehail_fee            |string   |               |
|improvement_surcharge|double   |               |
|total_amount         |double   |               |
|payment_type         |int      |               |
|trip_type            |int      |               |
|congestion_surcharge |double   |               |
|                     |         |               |
|# Partitioning       |         |               |
|Not partitioned      |         |               |
+---------------------+---------+---------------+

In [21]:
sql("""
SELECT
    INPUT_FILE_NAME() as filename_record_is_located,
    VendorId,
    RatecodeID,
    DOLocationID,
    passenger_count
FROM
    taxidb.greentaxis
WHERE
    VendorId = 2 and RatecodeID = 6
""")

+-------------------------------------------------------------------------------------------------------------------------------+--------+----------+------------+---------------+
|filename_record_is_located                                                                                                     |VendorId|RatecodeID|DOLocationID|passenger_count|
+-------------------------------------------------------------------------------------------------------------------------------+--------+----------+------------+---------------+
|file:/home/jovyan/work/spark-warehouse/taxidb.db/greentaxis/part-00005-b7668c11-3775-4b26-8cce-6ca59b79a44c-c000.snappy.parquet|2       |6         |193         |1              |
|file:/home/jovyan/work/spark-warehouse/taxidb.db/greentaxis/part-00006-cb453028-6940-422f-8622-596782a99a75-c000.snappy.parquet|2       |6         |55          |1              |
+-------------------------------------------------------------------------------------------------------------------------------+--------+----------+------------+---------------+

In [22]:
sql("""
UPDATE taxidb.greentaxis
SET passenger_count = 10
WHERE
    VendorId = 2 and RatecodeID = 6 and DOLocationID = 193
""")

++
||
++
++

In [25]:
ls("/home/jovyan/work/spark-warehouse/taxidb.db/greentaxis/_delta_log/*.json")
cat("/home/jovyan/work/spark-warehouse/taxidb.db/greentaxis/_delta_log/00000000000000000003.json")
grep_sed_json("add", 1, "/home/jovyan/work/spark-warehouse/taxidb.db/greentaxis/_delta_log/00000000000000000003.json")

-rwxrwxrwx 1 jovyan 1000  2346 Aug 28 05:07 /home/jovyan/work/spark-warehouse/taxidb.db/greentaxis/_delta_log/00000000000000000000.json
-rwxrwxrwx 1 jovyan 1000 15695 Aug 28 05:08 /home/jovyan/work/spark-warehouse/taxidb.db/greentaxis/_delta_log/00000000000000000001.json
-rwxrwxrwx 1 jovyan 1000  4163 Aug 28 07:47 /home/jovyan/work/spark-warehouse/taxidb.db/greentaxis/_delta_log/00000000000000000002.json
-rwxrwxrwx 1 jovyan 1000  2332 Aug 28 08:26 /home/jovyan/work/spark-warehouse/taxidb.db/greentaxis/_delta_log/00000000000000000003.json
{"remove":{"path":"part-00005-b7668c11-3775-4b26-8cce-6ca59b79a44c-c000.snappy.parquet","deletionTimestamp":1724833589468,"dataChange":true,"extendedFileMetadata":true,"partitionValues":{},"size":1075685}}
{"add":{"path":"part-00000-b43f38af-57c8-415c-ada4-c17fb8195df6-c000.snappy.parquet","partitionValues":{},"size":1076081,"modificationTime":1724833588815,"dataChange":true,"stats":"{\"numRecords\":46029,\"minValues\":{\"VendorId\":1,\"lpep_pickup_datetime\":\"2019-12-19 04:42:16\",\"lpep_dropoff_datetime\":\"2019-12-19 04:55:25\",\"store_and_fwd_flag\":\"N\",\"RatecodeID\":1,\"PULocationID\":1,\"DOLocationID\":1,\"passenger_count\":0,\"trip_distance\":0.0,\"fare_amount\":-125.0,\"extra\":-3.25,\"mta_tax\":-0.5,\"tip_amount\":0.0,\"tolls_amount\":0.0,\"improvement_surcharge\":-0.3,\"total_amount\":-125.0,\"payment_type\":1,\"trip_type\":1,\"congestion_surcharge\":0.0},\"maxValues\":{\"VendorId\":2,\"lpep_pickup_datetime\":\"2019-12-23 18:51:12\",\"lpep_dropoff_datetime\":\"2019-12-24 14:00:47\",\"store_and_fwd_flag\":\"Y\",\"RatecodeID\":6,\"PULocationID\":265,\"DOLocationID\":265,\"passenger_count\":10,\"trip_distance\":333.3,\"fare_amount\":350.0,\"extra\":4.5,\"mta_tax\":0.5,\"tip_amount\":111.0,\"tolls_amount\":30.0,\"improvement_surcharge\":0.3,\"total_amount\":350.3,\"payment_type\":4,\"trip_type\":2,\"congestion_surcharge\":2.75},\"nullCount\":{\"VendorId\":0,\"lpep_pickup_datetime\":0,\"lpep_dropoff_datetime\":0,\"store_and_fwd_flag\":0,\"RatecodeID\":0,\"PULocationID\":0,\"DOLocationID\":0,\"passenger_count\":0,\"trip_distance\":0,\"fare_amount\":0,\"extra\":0,\"mta_tax\":0,\"tip_amount\":0,\"tolls_amount\":0,\"ehail_fee\":46029,\"improvement_surcharge\":0,\"total_amount\":0,\"payment_type\":0,\"trip_type\":0,\"congestion_surcharge\":0}}"}}
{"commitInfo":{"timestamp":1724833589473,"operation":"UPDATE","operationParameters":{"predicate":"(((VendorId#2456 = 2) AND (RatecodeID#2460 = 6)) AND (DOLocationID#2462 = 193))"},"readVersion":2,"isolationLevel":"Serializable","isBlindAppend":false,"operationMetrics":{"numRemovedFiles":"1","numCopiedRows":"46028","numAddedChangeFiles":"0","executionTimeMs":"1596","scanTimeMs":"511","numAddedFiles":"1","numUpdatedRows":"1","rewriteTimeMs":"1084"},"engineInfo":"Apache-Spark/3.2.1 Delta-Lake/2.0.0","txnId":"2baa0c04-d545-4760-a76c-bd9d5d795545"}}
{
    "add": {
        "path": "part-00000-b43f38af-57c8-415c-ada4-c17fb8195df6-c000.snappy.parquet",
        "partitionValues": {},
        "size": 1076081,
        "modificationTime": 1724833588815,
        "dataChange": true,
        "stats": "{\"numRecords\":46029,\"minValues\":{\"VendorId\":1,\"lpep_pickup_datetime\":\"2019-12-19 04:42:16\",\"lpep_dropoff_datetime\":\"2019-12-19 04:55:25\",\"store_and_fwd_flag\":\"N\",\"RatecodeID\":1,\"PULocationID\":1,\"DOLocationID\":1,\"passenger_count\":0,\"trip_distance\":0.0,\"fare_amount\":-125.0,\"extra\":-3.25,\"mta_tax\":-0.5,\"tip_amount\":0.0,\"tolls_amount\":0.0,\"improvement_surcharge\":-0.3,\"total_amount\":-125.0,\"payment_type\":1,\"trip_type\":1,\"congestion_surcharge\":0.0},\"maxValues\":{\"VendorId\":2,\"lpep_pickup_datetime\":\"2019-12-23 18:51:12\",\"lpep_dropoff_datetime\":\"2019-12-24 14:00:47\",\"store_and_fwd_flag\":\"Y\",\"RatecodeID\":6,\"PULocationID\":265,\"DOLocationID\":265,\"passenger_count\":10,\"trip_distance\":333.3,\"fare_amount\":350.0,\"extra\":4.5,\"mta_tax\":0.5,\"tip_amount\":111.0,\"tolls_amount\":30.0,\"improvement_surcharge\":0.3,\"total_amount\":350.3,\"payment_type\":4,\"trip_type\":2,\"congestion_surcharge\":2.75},\"nullCount\":{\"VendorId\":0,\"lpep_pickup_datetime\":0,\"lpep_dropoff_datetime\":0,\"store_and_fwd_flag\":0,\"RatecodeID\":0,\"PULocationID\":0,\"DOLocationID\":0,\"passenger_count\":0,\"trip_distance\":0,\"fare_amount\":0,\"extra\":0,\"mta_tax\":0,\"tip_amount\":0,\"tolls_amount\":0,\"ehail_fee\":46029,\"improvement_surcharge\":0,\"total_amount\":0,\"payment_type\":0,\"trip_type\":0,\"congestion_surcharge\":0}}"
    }
}

In [23]:
sql("select count(1) from taxidb.greentaxis ; describe extended greentaxis ; describe history greentaxis", 50)

+--------+
|count(1)|
+--------+
|450627  |
+--------+

+----------------------------+----------------------------------------------------------------+---------------+
|col_name                    |data_type                                                       |comment        |
+----------------------------+----------------------------------------------------------------+---------------+
|VendorId                    |int                                                             |Ride Vendor    |
|lpep_pickup_datetime        |string                                                          |               |
|lpep_dropoff_datetime       |string                                                          |               |
|store_and_fwd_flag          |string                                                          |               |
|RatecodeID                  |int                                                             |Ref to RateCard|
|PULocationID                |int                                                             |               |
|DOLocationID                |int                                                             |               |
|passenger_count             |int                                                             |               |
|trip_distance               |double                                                          |               |
|fare_amount                 |double                                                          |               |
|extra                       |double                                                          |               |
|mta_tax                     |double                                                          |               |
|tip_amount                  |double                                                          |               |
|tolls_amount                |double                                                          |               |
|ehail_fee                   |string                                                          |               |
|improvement_surcharge       |double                                                          |               |
|total_amount                |double                                                          |               |
|payment_type                |int                                                             |               |
|trip_type                   |int                                                             |               |
|congestion_surcharge        |double                                                          |               |
|                            |                                                                |               |
|# Partitioning              |                                                                |               |
|Not partitioned             |                                                                |               |
|                            |                                                                |               |
|# Detailed Table Information|                                                                |               |
|Name                        |taxidb.greentaxis                                               |               |
|Location                    |file:/home/jovyan/work/spark-warehouse/taxidb.db/greentaxis     |               |
|Provider                    |delta                                                           |               |
|Owner                       |root                                                            |               |
|Table Properties            |[Type=MANAGED,delta.minReaderVersion=1,delta.minWriterVersion=2]|               |
+----------------------------+----------------------------------------------------------------+---------------+

+-------+-----------------------+------+--------+---------------------------------+-----------------------------------------------------------------------------+----+--------+---------+-----------+--------------+-------------+--------------------------------------------------------------------+------------+-----------------------------------+
|version|timestamp              |userId|userName|operation                        |operationParameters                                                          |job |notebook|clusterId|readVersion|isolationLevel|isBlindAppend|operationMetrics                                                    |userMetadata|engineInfo                         |
+-------+-----------------------+------+--------+---------------------------------+-----------------------------------------------------------------------------+----+--------+---------+-----------+--------------+-------------+--------------------------------------------------------------------+------------+-----------------------------------+
|1      |2024-08-28 14:08:52.189|null  |null    |CREATE OR REPLACE TABLE AS SELECT|{isManaged -> true, description -> null, partitionBy -> [], properties -> {}}|null|null    |null     |0          |Serializable  |false        |{numFiles -> 10, numOutputRows -> 450627, numOutputBytes -> 9229678}|null        |Apache-Spark/3.2.1 Delta-Lake/2.0.0|
|0      |2024-08-28 14:07:33.917|null  |null    |CREATE TABLE                     |{isManaged -> true, description -> null, partitionBy -> [], properties -> {}}|null|null    |null     |null       |Serializable  |true         |{}                                                                  |null        |Apache-Spark/3.2.1 Delta-Lake/2.0.0|
+-------+-----------------------+------+--------+---------------------------------+-----------------------------------------------------------------------------+----+--------+---------+-----------+--------------+-------------+--------------------------------------------------------------------+------------+-----------------------------------+

In [25]:
ls("/home/jovyan/work/spark-warehouse/taxidb.db/greentaxis/_delta_log/*.json")

-rwxrwxrwx 1 jovyan 1000  2346 Aug 28 05:07 /home/jovyan/work/spark-warehouse/taxidb.db/greentaxis/_delta_log/00000000000000000000.json
-rwxrwxrwx 1 jovyan 1000 15695 Aug 28 05:08 /home/jovyan/work/spark-warehouse/taxidb.db/greentaxis/_delta_log/00000000000000000001.json

### Performing the DELETE Operation

In [28]:
sql("""SELECT
RideId,
VendorId,
CabNumber,
TotalAmount
FROM
taxidb.YellowTaxis
WHERE
RideId = 9999995""", 50)

+-------+--------+---------+-----------+
|RideId |VendorId|CabNumber|TotalAmount|
+-------+--------+---------+-----------+
|9999995|1       |TAC304   |20.34      |
|9999995|1       |TAC304   |20.34      |
|9999995|2       |TAC304   |20.34      |
|9999995|2       |TAC304   |20.34      |
+-------+--------+---------+-----------+

In [34]:
sql("describe greentaxis")
sql("select VendorId, RatecodeID, count(1) from greentaxis group by VendorId, RatecodeID")

+---------------------+---------+---------------+
|col_name             |data_type|comment        |
+---------------------+---------+---------------+
|VendorId             |int      |Ride Vendor    |
|lpep_pickup_datetime |string   |               |
|lpep_dropoff_datetime|string   |               |
|store_and_fwd_flag   |string   |               |
|RatecodeID           |int      |Ref to RateCard|
|PULocationID         |int      |               |
|DOLocationID         |int      |               |
|passenger_count      |int      |               |
|trip_distance        |double   |               |
|fare_amount          |double   |               |
|extra                |double   |               |
|mta_tax              |double   |               |
|tip_amount           |double   |               |
|tolls_amount         |double   |               |
|ehail_fee            |string   |               |
|improvement_surcharge|double   |               |
|total_amount         |double   |               |
|payment_type         |int      |               |
|trip_type            |int      |               |
|congestion_surcharge |double   |               |
+---------------------+---------+---------------+
only showing top 20 rows

+--------+----------+--------+
|VendorId|RatecodeID|count(1)|
+--------+----------+--------+
|2       |5         |7090    |
|1       |4         |26      |
|2       |4         |238     |
|1       |2         |100     |
|2       |1         |291603  |
|1       |1         |58159   |
|1       |5         |1614    |
|2       |3         |174     |
|2       |2         |853     |
|2       |6         |2       |
|1       |3         |41      |
|1       |6         |2       |
|null    |null      |90725   |
+--------+----------+--------+

In [37]:
sql("select * from greentaxis where vendorid = 1 and ratecodeid = 6 ; describe history greentaxis")

+--------+--------------------+---------------------+------------------+----------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------+---------------------+------------+------------+---------+--------------------+
|VendorId|lpep_pickup_datetime|lpep_dropoff_datetime|store_and_fwd_flag|RatecodeID|PULocationID|DOLocationID|passenger_count|trip_distance|fare_amount|extra|mta_tax|tip_amount|tolls_amount|ehail_fee|improvement_surcharge|total_amount|payment_type|trip_type|congestion_surcharge|
+--------+--------------------+---------------------+------------------+----------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------+---------------------+------------+------------+---------+--------------------+
|1       |2019-12-12 14:01:31 |2019-12-12 14:14:25  |N                 |6         |243         |244         |1              |1.4          |3.5        |0.0  |0.5    |0.0       |0.0         |null     |0.3                  |4.3         |2           |1        |0.0                 |
|1       |2019-12-31 12:48:57 |2019-12-31 12:49:03  |N                 |6         |31          |31          |1              |2.4          |2.5        |0.0  |0.5    |0.0       |0.0         |null     |0.3                  |3.3         |2           |1        |0.0                 |
+--------+--------------------+---------------------+------------------+----------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------+---------------------+------------+------------+---------+--------------------+

+-------+-----------------------+------+--------+---------------------------------+-----------------------------------------------------------------------------+----+--------+---------+-----------+--------------+-------------+--------------------------------------------------------------------+------------+-----------------------------------+
|version|timestamp              |userId|userName|operation                        |operationParameters                                                          |job |notebook|clusterId|readVersion|isolationLevel|isBlindAppend|operationMetrics                                                    |userMetadata|engineInfo                         |
+-------+-----------------------+------+--------+---------------------------------+-----------------------------------------------------------------------------+----+--------+---------+-----------+--------------+-------------+--------------------------------------------------------------------+------------+-----------------------------------+
|1      |2024-08-28 14:08:52.189|null  |null    |CREATE OR REPLACE TABLE AS SELECT|{isManaged -> true, description -> null, partitionBy -> [], properties -> {}}|null|null    |null     |0          |Serializable  |false        |{numFiles -> 10, numOutputRows -> 450627, numOutputBytes -> 9229678}|null        |Apache-Spark/3.2.1 Delta-Lake/2.0.0|
|0      |2024-08-28 14:07:33.917|null  |null    |CREATE TABLE                     |{isManaged -> true, description -> null, partitionBy -> [], properties -> {}}|null|null    |null     |null       |Serializable  |true         |{}                                                                  |null        |Apache-Spark/3.2.1 Delta-Lake/2.0.0|
+-------+-----------------------+------+--------+---------------------------------+-----------------------------------------------------------------------------+----+--------+---------+-----------+--------------+-------------+--------------------------------------------------------------------+------------+-----------------------------------+

In [38]:
sql("delete from greentaxis where vendorid = 1 and ratecodeid = 6 ; describe history greentaxis")

++
||
++
++

+-------+-----------------------+------+--------+---------------------------------+------------------------------------------------------------------------------------------------------------------------+----+--------+---------+-----------+--------------+-------------+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+------------+-----------------------------------+
|version|timestamp              |userId|userName|operation                        |operationParameters                                                                                                     |job |notebook|clusterId|readVersion|isolationLevel|isBlindAppend|operationMetrics                                                                                                                                                                    |userMetadata|engineInfo                         |
+-------+-----------------------+------+--------+---------------------------------+------------------------------------------------------------------------------------------------------------------------+----+--------+---------+-----------+--------------+-------------+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+------------+-----------------------------------+
|2      |2024-08-28 16:47:08.534|null  |null    |DELETE                           |{predicate -> ["((spark_catalog.taxidb.greentaxis.vendorid = 1) AND (spark_catalog.taxidb.greentaxis.ratecodeid = 6))"]}|null|null    |null     |1          |Serializable  |false        |{numRemovedFiles -> 2, numCopiedRows -> 92531, numAddedChangeFiles -> 0, executionTimeMs -> 1604, numDeletedRows -> 2, scanTimeMs -> 433, numAddedFiles -> 2, rewriteTimeMs -> 1171}|null        |Apache-Spark/3.2.1 Delta-Lake/2.0.0|
|1      |2024-08-28 14:08:52.189|null  |null    |CREATE OR REPLACE TABLE AS SELECT|{isManaged -> true, description -> null, partitionBy -> [], properties -> {}}                                           |null|null    |null     |0          |Serializable  |false        |{numFiles -> 10, numOutputRows -> 450627, numOutputBytes -> 9229678}                                                                                                                |null        |Apache-Spark/3.2.1 Delta-Lake/2.0.0|
|0      |2024-08-28 14:07:33.917|null  |null    |CREATE TABLE                     |{isManaged -> true, description -> null, partitionBy -> [], properties -> {}}                                           |null|null    |null     |null       |Serializable  |true         |{}                                                                                                                                                                                  |null        |Apache-Spark/3.2.1 Delta-Lake/2.0.0|
+-------+-----------------------+------+--------+---------------------------------+------------------------------------------------------------------------------------------------------------------------+----+--------+---------+-----------+--------------+-------------+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+------------+-----------------------------------+

In [43]:
# 마지막으로 업데이트 된 2개 파일이 신규로 생성된 파일 블록
ls("./spark-warehouse/taxidb.db/greentaxis/*.parquet")

-rwxrwxrwx 1 jovyan 1000 1013050 Aug 28 07:47 ./spark-warehouse/taxidb.db/greentaxis/part-00000-5ea81464-7c10-4158-8a76-48e0df3b1723-c000.snappy.parquet
-rwxrwxrwx 1 jovyan 1000  930701 Aug 28 05:08 ./spark-warehouse/taxidb.db/greentaxis/part-00000-f7d57c66-f63d-4b6f-b173-431f4b70c855-c000.snappy.parquet
-rwxrwxrwx 1 jovyan 1000 1074475 Aug 28 05:08 ./spark-warehouse/taxidb.db/greentaxis/part-00001-0fd55311-d8bc-486d-9b83-8ece15716a3a-c000.snappy.parquet
-rwxrwxrwx 1 jovyan 1000  917751 Aug 28 07:47 ./spark-warehouse/taxidb.db/greentaxis/part-00001-457f8738-0fe5-47c6-88fa-d4eb8d67a36a-c000.snappy.parquet
-rwxrwxrwx 1 jovyan 1000 1013002 Aug 28 05:08 ./spark-warehouse/taxidb.db/greentaxis/part-00002-98ee1bf8-630d-48c1-accc-737ae1f617fc-c000.snappy.parquet
-rwxrwxrwx 1 jovyan 1000 1068779 Aug 28 05:08 ./spark-warehouse/taxidb.db/greentaxis/part-00003-921bdcd3-8744-42b2-93de-d4cb31a5f600-c000.snappy.parquet
-rwxrwxrwx 1 jovyan 1000  934450 Aug 28 05:08 ./spark-warehouse/taxidb.db/greentaxis/part-00004-088762bd-e793-453e-b1ef-25f41872eb6a-c000.snappy.parquet
-rwxrwxrwx 1 jovyan 1000 1075685 Aug 28 05:08 ./spark-warehouse/taxidb.db/greentaxis/part-00005-b7668c11-3775-4b26-8cce-6ca59b79a44c-c000.snappy.parquet
-rwxrwxrwx 1 jovyan 1000 1006626 Aug 28 05:08 ./spark-warehouse/taxidb.db/greentaxis/part-00006-cb453028-6940-422f-8622-596782a99a75-c000.snappy.parquet
-rwxrwxrwx 1 jovyan 1000  917764 Aug 28 05:08 ./spark-warehouse/taxidb.db/greentaxis/part-00007-619c7fd9-f812-4882-a16c-360c22f70798-c000.snappy.parquet
-rwxrwxrwx 1 jovyan 1000  692789 Aug 28 05:08 ./spark-warehouse/taxidb.db/greentaxis/part-00008-de3c1718-07fb-4f37-b231-384536f8e31f-c000.snappy.parquet
-rwxrwxrwx 1 jovyan 1000  515407 Aug 28 05:08 ./spark-warehouse/taxidb.db/greentaxis/part-00009-9b248690-bd5d-44dd-8807-862873f9dcd0-c000.snappy.parquet

In [46]:
ls("./spark-warehouse/taxidb.db/greentaxis/_delta_log/*.json")

-rwxrwxrwx 1 jovyan 1000  2346 Aug 28 05:07 ./spark-warehouse/taxidb.db/greentaxis/_delta_log/00000000000000000000.json
-rwxrwxrwx 1 jovyan 1000 15695 Aug 28 05:08 ./spark-warehouse/taxidb.db/greentaxis/_delta_log/00000000000000000001.json
-rwxrwxrwx 1 jovyan 1000  4163 Aug 28 07:47 ./spark-warehouse/taxidb.db/greentaxis/_delta_log/00000000000000000002.json

In [50]:
# 2회의 add 와 remove action 이 발생함을 알 수 있다
cat("./spark-warehouse/taxidb.db/greentaxis/_delta_log/00000000000000000002.json")

{"remove":{"path":"part-00002-98ee1bf8-630d-48c1-accc-737ae1f617fc-c000.snappy.parquet","deletionTimestamp":1724831229056,"dataChange":true,"extendedFileMetadata":true,"partitionValues":{},"size":1013002}}
{"remove":{"path":"part-00007-619c7fd9-f812-4882-a16c-360c22f70798-c000.snappy.parquet","deletionTimestamp":1724831229056,"dataChange":true,"extendedFileMetadata":true,"partitionValues":{},"size":917764}}
{"add":{"path":"part-00000-5ea81464-7c10-4158-8a76-48e0df3b1723-c000.snappy.parquet","partitionValues":{},"size":1013050,"modificationTime":1724831228405,"dataChange":true,"stats":"{\"numRecords\":46035,\"minValues\":{\"VendorId\":1,\"lpep_pickup_datetime\":\"2008-12-31 22:34:56\",\"lpep_dropoff_datetime\":\"2008-12-31 22:42:10\",\"store_and_fwd_flag\":\"N\",\"RatecodeID\":1,\"PULocationID\":1,\"DOLocationID\":1,\"passenger_count\":0,\"trip_distance\":-10.75,\"fare_amount\":-60.0,\"extra\":-1.0,\"mta_tax\":-0.5,\"tip_amount\":-90.5,\"tolls_amount\":0.0,\"improvement_surcharge\":-0.3,\"total_amount\":-98.8,\"payment_type\":1,\"trip_type\":1,\"congestion_surcharge\":-2.75},\"maxValues\":{\"VendorId\":2,\"lpep_pickup_datetime\":\"2035-09-02 17:17:47\",\"lpep_dropoff_datetime\":\"2035-09-02 19:01:37\",\"store_and_fwd_flag\":\"Y\",\"RatecodeID\":5,\"PULocationID\":265,\"DOLocationID\":265,\"passenger_count\":9,\"trip_distance\":69.86,\"fare_amount\":487.5,\"extra\":4.5,\"mta_tax\":0.5,\"tip_amount\":90.5,\"tolls_amount\":24.74,\"improvement_surcharge\":0.3,\"total_amount\":488.8,\"payment_type\":5,\"trip_type\":2,\"congestion_surcharge\":2.75},\"nullCount\":{\"VendorId\":0,\"lpep_pickup_datetime\":0,\"lpep_dropoff_datetime\":0,\"store_and_fwd_flag\":0,\"RatecodeID\":0,\"PULocationID\":0,\"DOLocationID\":0,\"passenger_count\":0,\"trip_distance\":0,\"fare_amount\":0,\"extra\":0,\"mta_tax\":0,\"tip_amount\":0,\"tolls_amount\":0,\"ehail_fee\":46035,\"improvement_surcharge\":0,\"total_amount\":0,\"payment_type\":0,\"trip_type\":0,\"congestion_surcharge\":0}}"}}
{"add":{"path":"part-00001-457f8738-0fe5-47c6-88fa-d4eb8d67a36a-c000.snappy.parquet","partitionValues":{},"size":917751,"modificationTime":1724831228405,"dataChange":true,"stats":"{\"numRecords\":46496,\"minValues\":{\"VendorId\":1,\"lpep_pickup_datetime\":\"2019-12-01 00:01:00\",\"lpep_dropoff_datetime\":\"2019-12-01 00:27:00\",\"store_and_fwd_flag\":\"N\",\"RatecodeID\":1,\"PULocationID\":3,\"DOLocationID\":1,\"passenger_count\":0,\"trip_distance\":-28.35,\"fare_amount\":-52.0,\"extra\":-4.5,\"mta_tax\":-0.5,\"tip_amount\":0.0,\"tolls_amount\":0.0,\"improvement_surcharge\":-0.3,\"total_amount\":-57.3,\"payment_type\":1,\"trip_type\":1,\"congestion_surcharge\":0.0},\"maxValues\":{\"VendorId\":2,\"lpep_pickup_datetime\":\"2020-01-01 11:58:00\",\"lpep_dropoff_datetime\":\"2020-01-01 23:19:22\",\"store_and_fwd_flag\":\"Y\",\"RatecodeID\":5,\"PULocationID\":265,\"DOLocationID\":265,\"passenger_count\":7,\"trip_distance\":53.58,\"fare_amount\":500.0,\"extra\":8.25,\"mta_tax\":3.55,\"tip_amount\":80.0,\"tolls_amount\":25.0,\"improvement_surcharge\":0.3,\"total_amount\":500.3,\"payment_type\":5,\"trip_type\":2,\"congestion_surcharge\":2.75},\"nullCount\":{\"VendorId\":8926,\"lpep_pickup_datetime\":0,\"lpep_dropoff_datetime\":0,\"store_and_fwd_flag\":8926,\"RatecodeID\":8926,\"PULocationID\":0,\"DOLocationID\":0,\"passenger_count\":8926,\"trip_distance\":0,\"fare_amount\":0,\"extra\":0,\"mta_tax\":0,\"tip_amount\":0,\"tolls_amount\":0,\"ehail_fee\":46496,\"improvement_surcharge\":2,\"total_amount\":0,\"payment_type\":8926,\"trip_type\":8928,\"congestion_surcharge\":8928}}"}}
{"commitInfo":{"timestamp":1724831229076,"operation":"DELETE","operationParameters":{"predicate":"[\"((spark_catalog.taxidb.greentaxis.vendorid = 1) AND (spark_catalog.taxidb.greentaxis.ratecodeid = 6))\"]"},"readVersion":1,"isolationLevel":"Serializable","isBlindAppend":false,"operationMetrics":{"numRemovedFiles":"2","numCopiedRows":"92531","numAddedChangeFiles":"0","executionTimeMs":"1604","numDeletedRows":"2","scanTimeMs":"433","numAddedFiles":"2","rewriteTimeMs":"1171"},"engineInfo":"Apache-Spark/3.2.1 Delta-Lake/2.0.0","txnId":"51b15516-7c3d-4981-8dd0-dd4b145e5778"}}